<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
</head>
<body>
<form method="POST" action="sucess">
        <label for="">nome:</label>
        <input type="text" name="nome">

        <label for="">autor:</label>
        <input type="text" name="autor">

        <label for="">Por que quero ler este livro?</label>
        <textarea name="descricao" id="" cols="30" rows="10"></textarea>
        <button>Cadastrar</button>
</body>
</html>