<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcom</title>
</head>
<body>
    <form method="POST" action="/cadastrar">
        <h1>Cadastre seu livro aqui!!!</h1>
        <label> Nome: </label>
        <input type="text" name="nome">

        <label> autor:</label>
        <input type="text" name="autor">

        <label> Por que quero ler este livro? </label>
        <textarea name="descricao" id="" cols="30" rows="10"></textarea>
        <button>Cadastrar</button>
    </form>
</body>
</html>